[Unit]
Description=Collect the ZFS snapshot list for tetanus hourly

[Timer]
Unit=tetanus-collect@snapshots.service
OnCalendar=hourly
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
