[Unit]
Description=Collect ZFS state for tetanus every 10 minutes

[Timer]
Unit=tetanus-collect@zfs.service
OnCalendar=*:0/10
RandomizedDelaySec=1m
Persistent=true

[Install]
WantedBy=timers.target
